<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>objectsToXml</servlet-name>
        <servlet-class>servlet.ObjectsToXml</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>objectsToXml</servlet-name>
        <url-pattern>/output/xml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>objectsToXml</servlet-name>
        <url-pattern>/output/html</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>xsltStudents</filter-name>
        <filter-class>helper.XsltFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>xsltStudents</filter-name>
        <url-pattern>/output/html</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>xmlToObjects</servlet-name>
        <servlet-class>servlet.XmlToObjects</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>xmlToObjects</servlet-name>
        <url-pattern>/xmlToObjects</url-pattern>
    </servlet-mapping>
</web-app>