<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <!--тут время в секундах-->
        <add key="noWorkTimePermission" value="600"/>
        <add key="maxTableRank" value="10"/>
        <add key="remainingTime" value="10"/>
        
        <!--server - клиент-сервер
            file - файл с очередями
            noserver - без сервера
        -->
        <add key="typeIPC" value="server"/>
    </appSettings>
</configuration>